    <!-- Main Content -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1>About Me</h1>
                <p>
                    Hello! I'm a passionate software engineer with a strong interest in offensive cybersecurity
                    and building software. I love to explore the ever-evolving world of technology and cybersecurity.
                    My journey in the field of software engineering has been exciting and rewarding, and I'm always
                    eager to learn and take on new challenges.
                </p>
                <p>
                    When I'm not writing code or diving into cybersecurity, you can often find me at the gym,
                    pushing myself to new limits and staying physically active. I believe that a strong body
                    complements a sharp mind, and fitness has always been an essential part of my life.
                </p>
                <p>
                    Whether it's weightlifting, or cardio workouts, I enjoy the challenge
                    and discipline that comes with maintaining a healthy and active lifestyle.
                </p>
                <p>
                    In addition to my work as a software engineer, I proudly serve as a part-time mechanic in the
                    Army National Guard. This role allows me to apply my technical skills in a different setting,
                    where precision and attention to detail are just as crucial.
                </p>
                <p>
                    Working with military vehicles has taught me the importance of teamwork, discipline,
                    and the value of a strong work ethic. It's an honor to contribute to the readiness and maintenance
                    of our nation's defense.
                </p>
                <!-- LinkedIn Button -->
                <div class="row">
                    <div class="text-center">
                        <a target="_blank" href="https://www.mtattab.com" class="btn btn-dark btn-lg mr-3">
                            Visit my Personal Website
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/mohammed-hattab-295076216/" class="btn btn-primary btn-lg mr-3">
                            Connect with me on LinkedIn
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <!-- You can add an image of yourself here -->
                <img src="../../../assets/personal.jpg" alt="Your Profile Image" class="img-fluid rounded-circle">
            </div>
        </div>
    </div>