    
    <!-- Hero Section -->
    <section class="hero bg-primary text-white text-center py-5">
        <div class="container">
            <h1 class="display-4">Track Your Monthly Expenses</h1>
            <p class="lead">Manage your finances easily with this budget tracking.</p>
            <a routerLink="/" class="btn btn-light btn-lg">Start Tracking</a>
        </div>
    </section>

    <!-- Features Section -->
    <section id="features" class="py-5">
        <div class="container justify-content-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="feature-icon">
                            <i class="fas fa-chart-pie fa-4x"></i>
                        </div>
                        <h3>Visualize Your Spending</h3>
                        <p>See where your money is going with interactive pie chart.</p>
                    </div>
           
                    <div class="col-lg-4">
                        <div class="feature-icon">
                            <i class="fas fa-mobile-alt fa-4x"></i>
                        </div>
                        <h3>Mobile Friendly</h3>
                        <p>Access your budget information on the go with a friendly web ui.</p>
                    </div>
                </div> 
            </div>

        </div>
    </section>



    <!-- Contact Section -->
    <section id="contact" class="py-5">
        <div class="container">
            <div class="text-center">
                <h2>Contact Me</h2>
                <p>If you have any questions or feedback, feel free to reach out to me.</p>
                <a href="mailto:mohammedhattab97@gmail.com" class="btn btn-primary">Email Me</a>
            </div>
        </div>
    </section>


